/* Estilos generales */
#filtres-global {
    display: inline-block;
    padding: 10px;
}

.showing-general {
    background-color: #e4ebe4;
    border-radius: 15px;
    padding: 10px;
}

/* Filtros */
#filtres {
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#filtres.showing {
    animation: showAnimation 0.5s ease forwards;
    opacity: 1;
    pointer-events: auto;
}

#filtres.hiding {
    animation: hideAnimation 0.5s ease forwards;
}

/* Animaciones */
@keyframes showAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hideAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Botones de filtros */
.show-filters {
    float: right;
}

.type-filter,
.color-filter,
.clear-filters-button {
    width: 110px;
    background-color: #000;
    color: white;
    border: solid 1px black;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

/* Contenedor de filtros por color */
#color-filters {
    display: none;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    margin: 0;
}

/* Contenedor de filtros por tipo */
#card-type {
    display: none;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    margin: 0;
}

/* Botón de limpiar filtros */
.clear-filters-button,
.clear-types-button,
.clear-search {
    width: 360px;
}

/* Otras clases */
.ink-content {
    display: inline-flex;
}

.rang {
    display: inline-block;
}

#inkable {
    display: inline-block;
}

#searchers {
    display: inline-block;
}
