/* Estils generals */
#filtres-global {
    display: inline-block;
    padding: 10px;
}

.showing-general {
    background-color: #e4ebe4;
    border-radius: 15px;
    padding: 10px;
}

/* Filtres */
#filtres {
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#filtres.showing {
    animation: showAnimation 0.5s ease forwards;
    opacity: 1;
    pointer-events: auto;
}

#filtres.hiding {
    animation: hideAnimation 0.5s ease forwards;
}

/* Animacions */
@keyframes showAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hideAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Botons de filtres */
.show-filters {
    float: right;
}

.type-filter,
.color-filter,
.clear-filters-button {
    width: 110px;
    background-color: #000;
    color: white;
    border: solid 1px black;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

/* Contenidor de filtres per color */
#color-filters {
    display: none;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    margin: 0;
}

/* Contenidor de filtres per tipus */
#card-type {
    display: none;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    margin: 0;
}

/* Botó de netejar filtres */
.clear-filters-button,
.clear-types-button {
    width: 360px;
}

.clear-search{
    width: 555px;
}
/* Altres classes */

input{
    width: 175px;
}
.ink-content {
    display: inline-flex;
}

.rang,
#inkable,
#searchers {
    display: inline-block;
}

#searchers {
    display: block; /* Cambiado a bloque para forzar un salto de línea */
    margin-top: 10px; /* Añadido margen superior para separación */
}

/* Reducir tamaño de botones en pantallas pequeñas */
@media screen and (max-width: 800px) {
  button, select {
    width: auto; /* Ancho automático para que se ajusten al contenido */
    padding: 3px 8px; /* Ajustar el relleno para que los botones sean más pequeños */
    margin: 3px; /* Reducir el margen */
  }
  .clear-search{
    width: 360px;
}
}