body {
  font-family: 'Waltograph', 'Anta', 'Lato', 'arial', cursive;
  background-color: #f1f6f1
}

#loading-placeholder{
  width: auto;
  height: 30px;
}
.display-cards{
 padding: 2px;
 padding-left: 5px;
 padding-right: 5px;
 border-radius: 15px;
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

button, select{
  background-color: #000;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px black solid;
}

#file-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#file-list li {
  /* 6 cartes er fila */
  width: calc(16.666% - 20px);
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#file-list li:hover {
  transform: translateY(-15px);
}

#file-list img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 15px;
}

/* pantalles mitjanes i petites */
/*5 cartes en pantalles mitjanes */
@media screen and (max-width: 1200px) {
  #file-list li {
    width: calc(20% - 20px);
  }
}

/*3 cartes en pantalles mitjanes */
@media screen and (max-width: 800px) {
  #file-list li {
    width: calc(33.333% - 20px);
  }
}

/* tamany del nom de les cartes*/
#file-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

