body {
  font-family: 'Waltograph', 'Anta', 'Lato', 'arial', cursive;
  background-color: #f1f6f1
}
.display-cards{
  background-color: #000;
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
button, select{
  background-color: #000;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px black solid;
}
.color-filter,
.clear-filters-button {
  width: 80px;
  background-color: #000;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.clear-filters-button {
  width: auto;
}
#color-filters {
  display: inline-block;
  /* background-color: #eee;
  width: auto;
  height: auto; */
}

#file-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#file-list li {
  width: calc(16.666% - 20px);
  /* Cálculo del ancho para mostrar 6 cartas por fila */
  text-align: center;
  margin-bottom: 20px;
  /* Espacio entre filas */
  display: flex;
  /* Mostrar como flexbox para centrar el contenido verticalmente */
  flex-direction: column;
  /* Alinear el contenido en columna */
  justify-content: center;
  /* Centrar el contenido verticalmente */
  position: relative;
  /* Establecer posición relativa */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Agregar transición */
}

#file-list li:hover {
  transform: translateY(-15px);
  /* Mover hacia arriba al hacer hover */
}

#file-list img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 15px;
}

/* Media queries para ajustar el número de cartas por fila en diferentes tamaños de pantalla */
@media screen and (max-width: 1200px) {
  #file-list li {
    width: calc(20% - 20px);
    /* Mostrar 5 cartas por fila en pantallas medianas */
  }
}

@media screen and (max-width: 800px) {
  #file-list li {
    width: calc(33.333% - 20px);
    /* Mostrar 3 cartas por fila en pantallas pequeñas */
  }
}

@media screen and (max-width: 800px) {
  #file-list li {
    width: calc(33.333% - 20px);
    /* Mostrar 3 cartas por fila en pantallas pequeñas */
  }
}

/* tamaño nombre cartas*/
#file-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}