body{
    font-family: monospace;
    text-align: center;
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    margin: 2em;
}
div{
    border: 1px black solid;
    display: inline-block;
    text-align: center;
    width: 15em;
    height: 3em;
    background-color: whitesmoke;
}
button{
    height: 3em;
    width: 6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#Llistat{
    background-color: burlywood;
    max-width: 100%;
    width: 50em;
    height: auto;
}
.llistatBTN{
    width: 7em;
}